<footer class="pnp__footer sans-serif">
  <p>This website is for internal purposes only. If you are not an employee of PlugAndPlayTechCenter or its subsidiaries we kindle ask you to close this web instance. All data provide to you by this marketplace will be processed by Plug & Play Germany GmbH.</p>
  <p>* : as custom request will be ordered and produced after you submit the request there is the chance that prices will slightly differ from the ones listed on this website. If there will be a bigger discrepancy we — of course — will get in tough with you befor the order will be fulfilled.</p>
  <div class="footer__el">
    <h2 style="font-weight: 700; display: inline-block; margin: 0; padding: 0; font-size: 13px;">Marketing Stuttgart&nbsp;&bull;&nbsp;</h2>
    <p class="position" style="font-size: 13px; margin: 0; margin-bottom: 5px; display: inline-block; padding: 0;">Germany</p>
    <p><b>German Office</b> Pfaffenwaldring 19 — 70569 Stuttgart</p>
    <p><b>Plug & Play Germany GmbH</b> | Managing Director: Sascha Karimpour | Registered No.: AG Charlottenburg HRB 175722B</p>
    <p><b>US HQ</b> 440 N Wolfe Rd, Sunnyvale, CA 94085</p>
  </div>
</footer>
