<header>
  <div class="pnp_logo">
    {%- include svg/pnp_pri_blk_rgb.svg -%}
    <p class="sans-serif white">Germany // Marketplace</p>
  </div>
  <div class="pnp_nav_els">
    <ul class="sans-serif f6 ttu">
      <li>
        <a href="mailto:{{ site.email }}">Request product</a>
      </li>
      <li>
        <a href="mailto:{{ site.email }}">Get help</a>
      </li>
      <li>
        <a href="#">{%- include svg/search.svg -%}</a>
      </li>
    </ul>
    <!-- <div class="pnp_menu">
      <svg viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-1363.000000, -53.000000)">
                  <g id="Group-4" transform="translate(1363.000000, 53.000000)">
                      <rect id="Rectangle" x="0" y="10" width="5" height="5"></rect>
                      <rect id="Rectangle" x="10" y="10" width="5" height="5"></rect>
                      <rect id="Rectangle" x="20" y="10" width="5" height="5"></rect>
                      <rect id="Rectangle" x="0" y="0" width="5" height="5"></rect>
                      <rect id="Rectangle" x="10" y="0" width="5" height="5"></rect>
                      <rect id="Rectangle" x="20" y="0" width="5" height="5"></rect>
                      <rect id="Rectangle" x="0" y="20" width="5" height="5"></rect>
                      <rect id="Rectangle" x="10" y="20" width="5" height="5"></rect>
                      <rect id="Rectangle" x="20" y="20" width="5" height="5"></rect>
                  </g>
              </g>
          </g>
      </svg>
    </div> -->
  </div>
</header>
