
<section id="warning-message">
   <div class="message">
        <div class="content">
            <h2>Somewhat Important.</h2>
            <p>This marketplace website is currently only available as an early beta product and should be seen as a fully
                functional mockup and test suite to understand its core functionality.</br>Please understand that this website
                should <b>not</b>
                be used to order any products.</br></br>However all items listed on this site are available and can be order by
                reaching
                out to <a href="mailto:marketing-ger@pnptc.com?subject=%5BMARKETPLACE%20BETA%20REQUEST%5D&body=Marketing%20Request%20via%20PNPTC%20MARKETPLACE%20BETA%0A%0A%0A---%20please%20add%20your%20message%20below%20---%0A%0A">marketing-ger@pnptc.com</a></p>
        </div>
        <div class="action">
            <button>I understand</button>
            <a class="email_link no_break" href="mailto:marketing-ger@pnptc.com?subject=%5BMARKETPLACE%20BETA%20REQUEST%5D&body=Marketing%20Request%20via%20PNPTC%20MARKETPLACE%20BETA%0A%0A%0A---%20please%20add%20your%20message%20below%20---%0A%0A">Get in touch with marketing-ger@pnptc.com</a>
        </div>
   </div>
</section>