<div class="product_item grid_item bg_white br2 sans-serif container" data-product_title="{{ product.title | url_encode }}" data-product_price="{{ product.price | url_encode }}" data-product_id="{{ product.product_id | url_encode }}" data-product_description="{{ product.description | markdownify | strip_html | url_encode }}" data-product_image="{{ product.image[0].thumbnails.large.url }}" data-product_stock="{% if product.ondemand %}ondemand{% else %}{{ product.stock }}{% endif %}" data-product_categorie="{{ product.categorie }}">
  <div class="thumbnail" style="background-image: url('{{ product.image[0].thumbnails.large.url }}')">
    <div class="error_message" onclick="">
      <p></p>
    </div>
    <h2>{{ product.title }}</h2>
  </div>
  <div class="">
    <div class="top_bar">
      <div class="top_bar__el ttu">
        <p class="{% if product.ondemand %} ondemand{% elsif product.stock > 0 %} in_stock{% elsif product.stock == 0 %} out_of_stock{% endif %}">{% if product.ondemand %}ondemand{% elsif product.stock == 0 %}Out of Stock{% else %}Stock: {{ product.stock }}{% endif %}</p>
        <p>{{ product.categorie }}</p>
      </div>
      <div class="top_bar__el">
        <p>€ {{ product.price }}<sub> /piece</sub></p>
      </div>
    </div>
    <div class="product_details">
      <table>
        <tr>
          <td>Product ID:</td>
          <td>{{ product.product_id }}</td>
        </tr>
        <tr>
          <td>Online since:</td>
          <td>{{ product.created_at }}</td>
        </tr>
      </table>
      <p>{{ product.description | markdownify }}</p>
    </div>
  </div>
  <div class="order_element">
    <div class="input_amount input_el">
      {%- unless product.order_link -%}
      <!-- <span>Qt. / Amount</span> -->
      <input type="number" name="amount" placeholder="Amount" data-price="{{ product.price }}">
      {%- endunless -%}
    </div>
    <div class="result order_price">
      {%- unless product.order_link -%}
      <!-- <span>Total Price</span> -->
      <p class="output ttu">Total</p>
      {%- endunless -%}
    </div>

    <div class="order_btn{%  unless product.order_link %} js_order{% endunless %}">
      {%-  if product.order_link -%}
        <a href="{{ product.order_link }}" class="ttu b">Order now</a>
      {%-  else -%}
        <p class="ttu b">Order now</p>
      {%-  endif -%}
    </div>
  </div>
</div>
